body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100vh;

}
.header-title {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
  }

ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
gap: 16px;
}
img{
    flex-shrink: 0;
}
.header {
display: flex;
background: #1F2937;
justify-content: space-between;
padding: 10px 150px;
}

.one {
display: flex;
background: #1F2937;
padding: 100px 150px;
justify-content: space-between;
flex-wrap: wrap;
}

.one-one{
    gap: 24px;
    width: 600px;
    padding-right: 40px;
    }

.main-text {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: lighter;
    padding-bottom: 10px;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 30px;

}

.subheading {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-bottom: 32px;
}

.two-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

}
.two{
    text-align: center;
    padding: 50px 250px 80px;
}

img{
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.info {
    max-width: 150px;
}

#main-img {
    width: 400px;
    height: 200px;
}
.three {
    background: #e5e7eb;
    padding: 80px 250px;
}
.three-one {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.three-two {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

.four {
    background: #3882f6;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    color: white;
    border-radius: 5px;
    margin: 80px 150px;
}
.four-text {
    font-weight: bold;
    font-size: 18px;
}

#button-two {
    border: 2px solid white;
}

.footer {
    background: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 24px;
    display: flex;
}

body{
    display: flex;
    flex-direction: column;
}
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}
